<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	 <!-- Target bean as outer bean -->
  <bean id="dStore" class="com.nt.beans.DecothlanStore">
    <property name="shoe">
       <!-- depedent bean as inner bea -->
       <bean id="kShoe" class="com.nt.beans.KalanjiShoe">
         <property name="size" value="10"/>
         <property name="color" value="black"/>
         <property name="price" value="6000"/>
       </bean>
    </property>
  </bean>

</beans>
