<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   <!-- target bean class cfg -->
   <bean id="loanApprover"  class="com.nt.beans.LoanApprover" scope="prototype">
      <constructor-arg ref="loanInfo"/>
   </bean>
   
      <!-- Dependent bean class cfg -->
   <bean id="loanInfo" class="com.nt.beans.LoanInfo"  scope="singleton">
     <constructor-arg value="1001"/>
     <constructor-arg value="ramesh"/>
     <constructor-arg value="50000"/>
   </bean>
   
   

</beans>
