<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
   <!-- Dependent bean class cfg -->
   <bean id="dt"  class="java.util.Date"/>
   
   <!-- Dependent bean class cfg -->
   <bean id="dt1"  class="java.util.Date">
      <property name="year"  value="110"/>
      <property name="month"  value="6"/>
      <property name="date"  value="20"/>
   </bean>
   
   <!-- Target bean class cfg -->
   <bean id="wish"  class="com.nt.beans.WishMessageGenerator">
       <property name="date"  ref="dt1"/>
     <constructor-arg name="date" ref="dt"/>
   
   </bean>

</beans>
